
@font-face {
    font-family: "Lato Light";
    src: url("./../../../fonts/Lato2OFL/Lato-Light.ttf");}
    


    @font-face {
        font-family: "Lato Bold";
        src: url("./../../../fonts/Lato2OFL/Lato-Heavy.ttf");}
        

  .imageContainer > img{
    width: 100%;
    margin-bottom: 0;
  }

@media screen and (max-width: 577px){
    /* mobile code */
  }

.containerIcons > img{
    margin-left: 3%;
    width: 10%;
}
.containerStyle{
    background: #4698D0;
    width: 100%;
    height: auto;
}
.containerContent{
    padding: 0 16%;
    padding-bottom: 6%;
    padding-top: 1%;
}
.headingSocialMmediaIcons{
    /* padding: 7% 0; */
    padding: 0% 15%;
    padding-top: 3%;
    padding-top: 6%;
}
.latestPostText{
    font-size: 1.6vw;
    color: white;
    float:left;
    font-family: 'Lato Light';
    font-weight: bold;
}
.containerIcons{
    margin-left: 62%;
}
.allignSocialAndHeading{
    
}
.socialIcons{
    margin-right: 3px;
}
.followUsText{
   

    font-size: 1vw;
    color: white;
    float: left;
    padding-right: 13px;
    font-family: 'Lato Light';
    padding-top: 2%;
}
.containerContentLeft{
    background: #ECF5FA;
    position: absolute;
    padding: 11% 11%;
    height: auto;
    right: 0;
    width: 100%;
}
.containerHeading{
    font-size: 1.4vw;
    font-weight: bold;
    font-family: 'Lato Light'
}
.containerDesc{
    font-size: 1vw;
    font-family: 'Lato Light';
}
.containerLink{
    font-size: 0.8vw;
    text-decoration: underline;
}
.tharkis{
    
}