
@font-face {
    font-family: "Harabara Bold";
    src: url("./../../fonts/Montserrat/Montserrat-Bold.ttf");}

.containerOverlay{
    margin-top: 100;
    background: #ECF4FA;
    align-items: center;
    height: auto
}


.socialIcons{
    margin-right: 3px;
    float: left;
}
.followUsText{
    font-size: 10px;
    float: left;
    color: aliceblue;
    margin: 5px;    
    margin-left: 6%;
    margin-right: 5%;
}
.socialMediaTab{
    margin-top: -64px;
    margin-left: -2%;
    background-color: #404864;
    padding: 6px 2px;
    width: 22%;
    height: 37px;
    /* float: left; */
}
.ke-over{
    padding: 60
}

.cardHeading{
    font-size: 17px;
    opacity: .7;
    font-family: 'Harabara Bold';
    font-weight: bold
}
.containerButton{
    font-family: 'Harabara Bold';
    text-align: center;
    border-radius: 30px;
    font-size: 11px;
    width: 120px;
    color: #fff;
    background-color: #03B9FE;
    padding: 10px;
    padding-left: 20px;
}
.containerImage{
    margin-top: -50px;
    margin-right: -50px
}
.containerDdesc{
    opacity: .7;
    font-size: 11px
}
.cardCcontainer{
    margin: 5%;
    width: 250px;
    padding: 23px;
    height: auto;
    background: #ffff
}
.card-container-kf{
    width: 250;
    padding: 25;
    height: auto;
    background-color: #fff
}
.cardimagecontainer{
    margin-top: -50;
    margin-right: -50
}
.containerStyle{
    padding: 120px;
     padding-top: 80px;
     padding-bottom: 80px;
}

/* iF WIDTH  */
@media screen and (max-width: 1200px){

        .cardCcontainer{
            margin: 0 10%;
        }
        .containerStyle{
            padding: 80px 40px;
        }
        .container{
            max-width: 100%;
        }   
 }
 @media screen and (max-width: 992px){

    /* .cardCcontainer{
        margin: 0 10%;
    } */
    .containerStyle{
        padding: 80px 40px;
    }
    .container{
        max-width: 100%;
    }   
}
 @media screen and (max-width: 956px){

    /* .cardCcontainer{
        margin: 0 10%;
    } */
    .containerStyle{
        padding: 80px 7px;
    }
    .container{
        max-width: 100%;
    }   
}
 @media screen and (max-width: 967px){

     .cardCcontainer{
        margin: 5% 26%;
     }
}   