
@font-face {
    font-family: "Lato";
    src: url("./../../Fonts/Lato2OFL/Lato-Heavy.ttf");}
    


    
@font-face {
    font-family: "lATO LIGHT";
    src: url("./../../Fonts/Lato2OFL/Lato-Black.ttf");}
    



    .containerSLideOne{
        background: #D1E5F3;
        width: 100%;
        height: 550px;
    }
    .ImageContainer{
        width: 35%;
        height: 550px;
        position: absolute;
        background: #4698D0;
        padding: 2%;
    }
    .bachiImg{
        width: 95%;
        /* height: 550px; */
    }
    .btnWhatweDO{
        text-align: center;
        font-size: 12px;
        font-family: 'lATO LIGHT';
        background: #ffffff;
        width: 150px;
        margin-bottom: 3%;
        padding: 10px 15px;
    }
    .containerTextSTyle{
        margin-left: 40%;
        padding-top: 4%;
        padding-right: 18%;
        
    }
    .headingText{
        font-size: 35px;
        font-family: 'Lato';
        /* font-weight: bold; */

    }
    .descText{
        font-size: 15px;
        font-family: 'lATO LIGHT';
    }