@font-face {
  font-family: "Lato";
  src: url("./../../../assets/fonts/Lato2OFL/Lato-Heavy.ttf");
}

@font-face {
  font-family: "lATO LIGHT";
  src: url("./../../../assets/fonts/Lato2OFL/Lato-Black.ttf");
}

.containerSLideOneCh {
  background: #d1e5f3;
  width: 100%;
  height: 697px;
}
.ImageContainerCh {
  width: 36%;
  height: 697px;
  position: absolute;
  background: #4698d0;
  padding: 2%;
}
.bachiImgCh {
  width: 95%;
  /* height: 550px; */
}
.btnWhatweDOCh {
  text-align: center;
  font-size: 0.6vw;
  font-family: "lATO LIGHT";
  background: #ffffff;
  width: 150px;
  font-weight: bold;
  margin-bottom: 3%;
  padding: 10px 15px;
}
.containerTextSTyleCh {
  margin-left: 40%;
  padding-top: 4%;
  padding-right: 18%;
}
.headingTextCh {
  font-size: 35px;
  font-family: "Lato";
  /* font-weight: bold; */
}
.descTextCh {
  font-size: 1vw;
  font-family: "lATO LIGHT";
  font-weight: bold;
}
