@font-face {
    font-family: "lato Regular";
    src: url("./../../Fonts/Lato2OFL/Lato-Regular.ttf");}
    



    /* @media screen and (max-width: 577px){
        .backgroundHeight{
            min-height: 200px;
        }
        .mainContainerHeadingText{
            padding-top: 20%;
            margin-left: 5%;
        }
        .socialMediaTab{
            display: none;
        }
      } */


.containerSlide{
    width: 100%;
    height: 286px;
}
.containerText{
    padding: 5% 10%;
}
.conbtainer{

    padding:0 16%; 
    padding-left: 3%;
}
.workbtn{
    background: #03B9FE;
    color: #ffffff;
    margin-left: 30%;
    width: 132px;
    padding: 10px 15px;
    font-size: 11px;
    font-family: 'lato Regular';
    text-align: center;
}
.containerTextTiles{
    background: #03B9FE;
    width: 100%;
    height: 4%;
    padding: 10px 15px;
    color: #ffffff;
    margin-left: 20%;
    margin-bottom: 3%;
    box-shadow: #171515;
    font-size: 12px;
    font-family: 'lato Regular'
}




@font-face {
    font-family: "lato Regular";
    src: url("./../../Fonts/Lato2OFL/Lato-Regular.ttf");}

    
@font-face {
    font-family: "lato High";
    src: url("./../../Fonts/Lato2OFL/Lato-Heavy.ttf");}
    
.containerStyle{
    width: 100%;
    height:539px;
    padding: 0 13%;
    /* padding-right: %; */
}

.slideTextLeft {
    /* left: 0; */
    width: 100%; 
    height: 539px;
    background: #4698D0;
}
.slideDescLeft{
   
    padding: 0 10%;
    padding-right: 37%;
    padding-top: 12%;
    color: #ffffff;
    font-size: 15px;
    font-family: 'lato Regular';
}
.bachiImg{
    width: 200px;
}

.slideRightContainer{
    background: #ECEDF0;
    /* position: absolute; */
    margin-left: -30px;
    width: 100%;
    height: 539px;
    /* right: 0;    */
}
.textContainer{
    padding: 15% 10%;

}
.headingSlideText{
    font-size: 24px;
    text-align: center;
    font-family: 'lato High';
    opacity: .5;
}
.DescStyleRight{
    font-size: 14px;
    font-family: 'lato Regular'
}