
@font-face {
    font-family: "Harabara Bold";
    src: url("./../../Fonts/Montserrat/Montserrat-Bold.ttf");}
    


    .logImg{
        margin-top: 2%;
        padding: 0 36%;
    }

    .DescriptionSlide{
        margin: 0 30%;
    }
    .DescriptionSlide p {
        font-family: 'Harabara Bold';
        font-size: 15px;
    }

    .featureAllign{
        padding: 0 30%;
    }
    .featureText{
        text-align: center;
        font-family: 'Harabara Bold';
        font-size: 14px;

    }
    .donationPolicyText{
        text-align: center;
        font-family: 'Harabara Bold';
        font-size: 14px;
        margin-top: -10%;
    }
    .teachersTrainedText{
        text-align: center;
        font-family: 'Harabara Bold';
        font-size: 14px;
        margin-top: -2%;
    }
    .containerFeatures{
        padding: 5% 20%;
    }
    .logoImg{
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 919px){

        .DescriptionSlide{
            margin: 0 10%
      
        }  
        .logImg{
        margin-top: 2%;
        padding: 0 36%;
        }
          
        .logImg{
            margin-top: 2%;
            vertical-align: middle
        }
    
      }