
@font-face {
    font-family: "Harabara Bold";
    src: url("./../../../fonts/Montserrat/Montserrat-Bold.ttf");}
    

    @font-face {
        font-family: "Harabara Medium";
        src: url("./../../../fonts/Montserrat/Montserrat-Medium.ttf");}
        

.containerSlide{
    background: #FF7277;
    min-height: 100%;
    /* height: auto; */
    width: 100%;
    padding-bottom: 11%;
    padding-top: 3%;
}
.secondLayerContainer{
    width: 100%;
    /* position: absolute; */
    background: #FF8E92;
    /* margin-top: 100px; */
    height: auto;
}


.imageLayer{
    margin-left: 12%;
    margin-top: -14%;
    position: absolute;
}
.buttonWhatWeDo{
    padding: 10px 10px;
    font-size: 10px;
    /* color: #fff */
    width: 113px;
    background: #fff;
    height: 35px;
    margin-bottom: 4%;
    margin-left: 10%;
}
.buttonWhatWeDo > p {
    text-align: center;
}
.containerTextInner{
    padding: 3% 7%;
}
.headingText{
    font-family: 'Harabara Bold';
    color: #414865;
    font-size: 25px; 
}
.slideDescription{

}
.descriptionText{
    font-family: 'Harabara Medium';
    color: #414865;
    font-size: 13px;
}
.buttonLastBlack{
    padding: 10px 10px;
    font-size: 10px;
    color: #fff;
    position: absolute;
    margin-top: 8%;
    width: 113px;
    background: #414865;
    height: 35px;
    border-radius: 90px;
    text-align: center;
    margin-left: 8%;

}

/* @media screen and (max-width: 1339px){

    .buttonLastBlack{
        margin-top: 11%;
    }
 } */