
@font-face {
  font-family: "Harabara Bold";
  src: url("./../../fonts/Lato2OFL/Lato-Heavy.ttf");}
  
  .containerSTyle{
    background-position: fixed;
    padding: 10%;
    /* display: flex; */
    /* align-items: center; */
    background: #EB5D5F;
    height: auto
  }
.containerText{
  font-size: 18px;
  color: white;
  text-align: center;
}
.containerEmailInput {
  /* margin-right: 40px; */
  float: left;
  /* position: absolute; */
  border: none;
  width: 70%;
  border-radius: 35px;
  padding: 10px;
  padding-left: 20px;
  letter-spacing: 0.5;
  font-size: 12px;
}

/* Subscribe btns */
.subscribeBtn{
  float: right;
  /* margin-left: 20px; */
  width: 30%;
  text-align: center;
  /* display: flex; */
  align-items: center;
  padding: 10px;
  /* padding-left: 35px; */
  background: #03B9FE;
  border-radius: 30px;
  font-size: 14px;
  color: white
}
  /* Id 
  
  device width is 500 */
  @media screen and (max-width: 768px){
    /* .socialMedia Tab{
        display: none;
        visibility: hidden;
    } */  
    .textBottomTab{
        width: 50%;
        margin-left: 27%;
    }
    .containerSTyle{
      background-position: fixed;
      display: flex;
      align-items: center;
      background: #EB5D5F;
      height: auto
    }
  }
  /* If max- width 1093 */
  @media screen and (max-width: 1093px){
    .containerSTyle{
      padding: 8%;
    }
  }
  /* If max- width 1093 */
  @media screen and (max-width: 1042px  ){
    .containerSTyle{
      padding: 6%;
    }
  }
  /* If max- width 1093 */
  @media screen and (max-width: 768px  ){
    .containerEmailInput{
      border: none;
    width: 100%;
    border-radius: 35px;
    padding: 10px;
    padding-left: 20px;
    font-size: 12px;
    margin-bottom: 3%;
    }
    .containerSTyle{
      padding: 6% 3%;
    }
    .subscribeBtn{
      width: 42%;
      text-align: center;
      /* display: flex; */
      align-items: center;
      padding: 10px;
      /* padding-left: 35px; */
      background: #03B9FE;
      border-radius: 30px;
      font-size: 14px;
      color: white;
      margin: 0% 25%;
    }
  }


  
