
@font-face {
    font-family: "Harabara Bold";
    src: url("./../../../fonts/Lato2OFL/Lato-Heavy.ttf");}
    

    @font-face {
        font-family: "Harabara Black";
        src: url("./../../../fonts/Lato2OFL/Lato-Black.ttf");}
        
    
.mainContainerHeadingText{
    padding-top: 10%;
    margin-left: 5%;
}
.mainContainerHeadingText  > p {
    font-family: 'Harabara Black';
    font-size: 22px;
}
.backgroundText{
    background: white;
    padding: 5px;
    font-size: 1.8vw;
}

.actNoeBtn {
    background : #EB5D5F;
    width: 140px;
    /* margin-left: 80%; */
    position: absolute;
    height: 5%;
    /* right: 0; */
}
.actNoeBtn > p {
    font-family: 'Harabara Black';
    color: aliceblue;
    font-size: 0.8vw;
    text-align: center;
    padding: 9% 0;
}
.socialIcons{
    margin-right: 3px;
    float: left;
}
.followUsText{
    font-size: 10px;
    float: left;
    color: aliceblue;
    margin: 5px;    
    text-align: center;
}
.socialMediaTab{margin-top: 15.8%;
    margin-left: -2%;
    background-color: #404864;
    padding: 6px 2px;
    width: 22%;
    height: 37px;
    float: left;
}
.textBottomTab{margin-top: 15%;
    background-color: #FFFFFF;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    /* padding: 20px 0px; */
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2vw;
    font-family: 'Harabara Black'
}
.yellowIndicator{
    margin: auto;
    margin-bottom: 20px;
    width: 20%;
    height: 4px;
    background: #FFDD00;

}
.backgroundHeight{
    padding: 3% 0%;
    padding-bottom: 0;
}


  

@media screen and (max-width: 577px){
    .backgroundHeight{
        min-height: 200px;
    }
    .mainContainerHeadingText{
        padding-top: 20%;
        margin-left: 5%;
    }
    .socialMediaTab{
        display: none;
    }
  }

/* If device width in 1092px */
  @media screen and (max-width: 1209px){
    .socialMediaTab{
        width: 30%;
    }
  }
/* If device width in 941px */
  @media screen and (max-width: 1209px){
    .socialMediaTab{
        width: 40%;
    }
  }
/* If device width in 900px */
  @media screen and (max-width: 900px){
    .socialMediaTab{
        margin-top: 221px;
    }
  }
/* If device width in 695px */
  @media screen and (max-width: 695px){
    .socialMediaTab{
        display: none;
        visibility: hidden;
    }
    .textBottomTab{
        width: 40%;
        margin-left: 27%;
    }
  }
  /* Id device width is 500 */
  @media screen and (max-width: 500px){
    /* .socialMediaTab{
        display: none;
        visibility: hidden;
    } */
    .textBottomTab{
        width: 50%;
        margin-left: 27%;
    }
  }

