
@font-face {
    font-family: "Lato";
    src: url("./../../../fonts/Lato2OFL/Lato-Black.ttf");}

    
    @font-face {
        font-family: "Lato light";
        src: url("./../../../fonts/Lato2OFL/Lato-Light.ttf");}
    
        @font-face {
            font-family: "Lato Medium";
            src: url("./../../../fonts/Lato2OFL/Lato-Medium.ttf");}
        
    

            .containerSLideOne{
                background: #1E71AA;
                width: 100%;
                height: 300px;
                padding: 4% 0;
            }
            .textsContainer{
                text-align: center;
            }
        .btnStyle{
            background: #EB5D5F;
            width: 150px;
            padding: 10px 15px;
            font-size: 14px;
            margin: auto;
            color: #ffffff;
            font-weight: bold;
        }
        .HeadingSTyle{
            font-size: 1.6vw;
            color: #ffffff;
            font-weight: bold;
            font-family: 'Lato'
        
        }
        .Description{
            font-size: 1.2vw;
        
            font-family: 'Lato light';
            
            color: #ffffff;
            
            font-weight: bold;
        }
@media screen and (max-width: 760px){

    .Description{
        font-size: 18px;
        padding: 4%;
        color: white
    }
    
 }

