
@font-face {
    font-family: "Harabara Bold";
    src: url("./../../Fonts/Montserrat/Montserrat-Bold.ttf");}
    

    @font-face {
        font-family: "Harabara Medium";
        src: url("./../../Fonts/Montserrat/Montserrat-Medium.ttf");}
        

.slideFiveContainer{
    width: 100%;
    /* height: 100px; */
    padding: 3% 20%;
}

.headingSlide > p {
    /* text-align: center; */
    font-size: 18px;
    font-family: 'Harabara Bold'
}
.slideFiveDescription{
    font-size: 12px;
}


@media screen and (max-width: 768px){

    .headingSlide > p{
        /* margin-top: 11%; */
        text-align: center;
    }
    .slideFiveDescription{
        text-align: center;
    }
    .slideFiveContainer{
        padding: 7% 19%;
    }
 }