
@font-face {
    font-family: "Lato Medium";
    src: url("./../../assets/fonts/Lato2OFL/Lato-Medium.ttf");}




    @font-face {
        font-family: "Lato Light";
        src: url("./../../assets/fonts/Lato2OFL/Lato-Light.ttf");}
    
    
    
        @font-face {
            font-family: "Lato Bold";
            src: url("./../../assets/fonts/Lato2OFL/Lato-Bold.ttf");}
        
        
        
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */




            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #F87DA9;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }



/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */



.cardContainer{


    background: rgba(235, 93, 95, 0.8) none repeat scroll 0% 0%;

height: 838PX;

width: 546px;

padding: 38px;
color: aliceblue;

margin-left: 12%;

padding-right: 53px;

padding-left: 47px;
}

/* Selected payment cards */
.selectedPaymentCardItem{
    background: #4698D0;
    padding: 25px 5px;
    padding-right: 5px;
    width: 100%;
    border: 0.1px solid #5C5C5E;
    padding-right: 18px;
}
.paymentCardItem {
    background: #ffffff;
    padding: 25px 5px;
    padding-right: 5px;
    width: 100%;
    border: 0.1px solid #5C5C5E;
    padding-right: 18px;
}
.paymentCardItemDText{
    font-size: 0.8vw;
    font-family: 'Lato Light';
    color: #5C5C5E 
}
.paymentCardItemMoney{
    font-size: 2.4vw;
    color: #5C5C5E;
    font-weight: bold
}
.enterCustomDonationText > p{
    color: #ffffff;

    
    text-decoration-line: underline;
    
    font-size: 0.8vw;
    
    font-family: 'Lato Light';
    
    margin-top: 2%;
}
.selectdonationFrequency > p{
    font-size: 1.3vw;
    font-family: 'Lato Light';
color: #ffffff;

font-weight: bold;
}

.donationFrequencyButtonOneTime {
    color: #404040;

padding: 20px 40px;

float: right;

width: 50%;

text-align: center;

background-color: #fff;

font-weight: bold;

font-family: 'Lato Light';
}
.donationFrequencyButtonMonthly{
    font-weight: bold;
    
    font-family: 'Lato Light';
    
    text-align: center;
    padding: 20px 40px;
    width: 50%;
    background-color: #4698D0;
    
font-weight: bold;

font-family: 'Lato Light';
}
.donationMonthlyText{
    font-size: 1vw;
    
    font-weight: bold;
    font-family: 'Lato Bold';
}
.donateNowAndCancel{
    margin-top: 23%;
}
.donationOneTimeText{
    
    font-size: 1vw;
    
    font-weight: bold;
    font-family: 'Lato Bold';
}
.donateNowButton{
    background-color: #03B9FE;

    width: 50%;
    
    text-align: center;
    
    padding: 12px;
    
    float: right;
    
    border-radius: 50px;
    
  
}

.cancelBbutton{
    font-size: 18px;

    text-decoration: underline;
    
    cursor: pointer;
    
    padding-top: 0%;
}







  








  

