
@font-face {
    font-family: "lato Regular";
    src: url("./../../../fonts/Lato2OFL/Lato-Regular.ttf");}

    
@font-face {
    font-family: "lato High";
    src: url("./../../../fonts/Lato2OFL/Lato-Heavy.ttf");}
    
.containerBody{
    width: 100%;
    
}
